@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Handjet:wght@400&family=Roboto+Condensed:wght@700&display=swap');

/* variables */
:root {
    --prim-color: #94A684;
    --prim-color-rgb: rgb(148, 166, 132);
    --sec-color: #AEC3AE;
    --thrid-color: #E4E4D0;
    --fourth-color: #FFEEF4;
    --box-shadow-layer-one: rgba(72, 81, 64, 0.2);
    --box-shadow-layer-two: rgba(72, 81, 64, 0.15);
    --box-shadow-layer-three: rgba(72, 81, 64, 0.1);
    --box-shadow-layer-four: rgba(72, 81, 64, 0.05);
}

/* default style fix */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: light;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }

  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* end of default styles */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 201, 171);
}

#calculator-body {
    border: solid 2px black;
    width: 400px;
    height: 37rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--prim-color);
    box-shadow:
        10px 10px 10px rgba(0, 0, 0, 0.2),
        10px 10px 20px rgba(0, 0, 0, 0.15),
        10px 10px 30px rgba(0, 0, 0, 0.1),
        10px 10px 40px rgba(0, 0, 0, 0.05),

        inset -5px -5px 2px var(--box-shadow-layer-one),
        inset -5px -5px 5px var(--box-shadow-layer-two),
        inset -5px -5px 7px var(--box-shadow-layer-three),
        inset -5px -5px 10px var(--box-shadow-layer-four);
}

#title {
    margin-top: 1rem;
}

#title-words {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
    color: var(--fourth-color);
}

#display-container {
    border: solid 3px black;
    width: 350px;
    height: 6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 66, 66);
}

#inner-display-container {
    border: none;
    width: 330px;
    height: 5rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background-color: azure;
}

#display-box {
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#display-box > span {
    font-family: 'Handjet', cursive;
    font-weight: 300;
    font-size: 60px;
}

#buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    'reset delete . added'
    "one two three subtracted"
    "four five six multiplied"
    "seven eight nine divided"
    ". zeroed dotty equal";
    gap: 10px;
}
#reset {
    grid-area: reset;
}
#delete {
    grid-area: delete;
} 
#dot {
    grid-area: dotty;
}
#equal {
    grid-area: equal;
}

#add {
    grid-area: added;
}
#subtract {
    grid-area: subtracted;
}
#multiply {
    grid-area: multiplied;
}
#divide {
    grid-area: divided;
}

#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#zero {
    grid-area: zeroed;
}

#buttons-container > button {
    width: 80px;
    height: 4rem;
    color:rgb(54, 54, 54);
    font-weight: 700;
    font-size: larger;
}

#buttons-container > button:hover {
    background-color:darkgrey;
}

#buttons-container > button:active {
    transform: scale(90%);
}

#buttons-container > .operator {
    background-color: var(--fourth-color);
}

#buttons-container > .other {
    background-color: var(--thrid-color);
}

#buttons-container > .number {
    background-color: var(--sec-color);
}

#attribution {
    margin-top: 1rem;
}

#words {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    color: var(--fourth-color)
}

#words > a {
    text-decoration: none;
}