/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:wght@600&family=Orbitron&display=swap');

/* variables */
:root {
    --prim-color: #525FE1;
    --sec-color: #FFF6F4;
    --thrid-color: #FFA41B;
    --fourth-color: #F86F03;
    --box-shadow-layer-one: rgba(72, 81, 64, 0.2);
    --box-shadow-layer-two: rgba(72, 81, 64, 0.15);
    --box-shadow-layer-three: rgba(72, 81, 64, 0.1);
    --box-shadow-layer-four: rgba(72, 81, 64, 0.05);
}

/* default style fix */
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    color-scheme: light;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
  }

  /* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* end of default styles */

body {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background: "../images/Group-1.png";
    background-blend-mode: overlay;
    background-size: cover;

}

.title {
    justify-self: flex-start;
    align-self: flex-start;
    font-family: 'Bebas Neue';
    font-size: 70px;
    color: var(--prim-color);
}

#a {
    color: var(--sec-color)
}

#simple {
    color: var(--fourth-color);
}

#calculator {
    color: var(--sec-color)
}
    
#by {
    color: var(--sec-color)
}

#import-vince {
    color: var(--prim-color);
}

#import-vince > a {
    color: var(--prim-color);
    text-decoration: none;
}

#import-vince > a:hover {
    color: var(--fourth-color);
    text-decoration: none;
}

#box-shadow-wrapper {
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.25));
    margin-top: -1rem;
}

#calculator-body {
    border: none;
    border-radius: 20px;
    width: 380px;
    height: 575px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--prim-color);
    box-shadow: 
    8px 8px 10px 0px rgba(0, 0, 0, 0.25) inset,
    -8px -8px 10px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(4px 4px 1px rgb(36, 41, 99));
}

#display-container {
    border: none;
    border-radius: 10px;
    width: 80% ;
    height: 7rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--prim-color);
}

#inner-display-container {
    border-width: 2px ;
    border-color: #424DBB;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background-color: #F4F2F2;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25) inset, 
    -5px -5px 10px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
}

#display-box {
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#display-box > span {
    font-family: 'Orbitron';
    font-weight: 300;
    font-size: 40px;
}

#buttons-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: auto;
    grid-template-areas: 
    'reset delete added subtracted'
    "one two three multiplied"
    "four five six divided"
    "seven eight nine equal"
    "zeroed zeroed dotty equal";
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#reset {
    grid-area: reset;
}
#delete {
    grid-area: delete;
} 
#dot {
    grid-area: dotty;
}
#equal {
    grid-area: equal;
}

#add {
    grid-area: added;
}
#subtract {
    grid-area: subtracted;
}
#multiply {
    grid-area: multiplied;
}
#divide {
    grid-area: divided;
}

#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#zero {
    grid-area: zeroed;
}

#attribution {
    grid-area: attribution;
}

#buttons-container > button {
    color:rgb(54, 54, 54);
    font-weight: 700;
    font-size: 30px;
    font-family: 'Cabin';
    text-align: center;
}

/* #buttons-container > button:hover {
    background-color:darkgrey;
} */

#buttons-container > button:active {
    transform: scale(90%);
}

#buttons-container > button:hover {
    filter: brightness(0.7);
}

#buttons-container > .operator {
    border-radius: 50%;
    height: auto;
    border: none;
    background-color: var(--fourth-color);
    box-shadow: 
    4px 4px 10px 0px rgba(0, 0, 0, 0.25) inset, 
    -4px -4px 10px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(1.5px 1.5px 1px #692e01);
}

#buttons-container > .other {
    border: none;
    border-radius: 10px;
    background-color: var(--thrid-color);
    box-shadow: 
    4px 4px 10px 0px rgba(0, 0, 0, 0.25) inset, 
    -4px -4px 10px 0px rgba(0, 0, 0, 0.25) inset;
    filter: drop-shadow(1.5px 1.5px 1px #5f3d0a);
}

#buttons-container > .number {
    border-radius: 10px;
    border: none;
    background-color: var(--sec-color);
    box-shadow: 
    1.5px 1.5px 1px 0px #625e5e, 
    4px 4px 10px 0px rgba(0, 0, 0, 0.25) inset, -4px -4px 10px 0px rgba(0, 0, 0, 0.25) inset;
}

#attribution {
    /* margin-top: 1rem; */
    color: #FFF6F4;
    text-align: center;

    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 220% */
    letter-spacing: -0.2px;
    width: 60px;
    place-self: center;
}

#words {
    font-family: 'Cabin';
    font-size: x-small;
    color: var(--sec-color)
}

#words > a {
    text-decoration: none;
    color: var(--thrid-color)
}